{% extends 'base.html.twig' %}

{% block title %}SnowTricks{% endblock %}

{% block body %}
    <div class="w-100 h-100">
        <div class="col-lg-12 bg-image text-top-end text-orange shadow-lg p-3 mb-5 mt-2" style="background-image: url({{ asset('main.jpg') }})">
            <div class="col-12 pb-5 h-100">
                <h1 class="col-12">
                    SnowTricks
                </h1>
                <h4 class="col-12">
                    The place to trick
                </h4>
                <p class="fst-italic">
                    by Jimmy Sweat
                </p>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for trick in pager %}
            <div class="col">
                <div class="card">
                    {% if trick.pictures is not empty %}
                        <div id="{{ 'carouselExampleIndicators'~trick.id }}" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                {{ trick.pictures|length }}
                                {% for picture in trick.pictures %}
                                    {% if picture == trick.pictures.first %}
                                    <div class="carousel-item active fixed-size-card-image">
                                        <img src="{{ picture.path }}" class="object-fit d-block w-100 card-img-top" alt="{{ picture.alt }}">
                                    </div>
                                    {% else %}
                                        <div class="carousel-item fixed-size-card-image">
                                            <img src="{{ picture.path }}" class="object-fit d-block w-100 card-img-top" alt="{{ picture.alt }}">
                                        </div>
                                    {% endif %}

                                {% endfor %}

                            </div>

                            <button class="carousel-control-prev" type="button"
                                    data-bs-target="#{{ 'carouselExampleIndicators'~trick.id }}" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                    data-bs-target="#{{ 'carouselExampleIndicators'~trick.id }}" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    {% endif %}
                    <div class="card-body bg-dark">
                        <h5 class="card-title d-flex flex-wrap justify-content-between ">
                            <a class="text-orange text-decoration-none" href="{{ path('trick_show', {'slug': trick.slug} ) }}">
                                {{ trick.title }}
                            </a>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') and trick.state != constant('App\\Entity\\Trick::TRICK_STATE_IN_REVISION') %}
                                <a href="{{ path('trick_show', {'slug': trick.slug}) }}" class="text-end">
                                    <span class="fa fa-pencil text-orange"></span>
                                </a>
                            {% endif %}
                        </h5>
                        <p class="fst-italic text-orange">{{ trick.author.username }}</p>
                        <hr class="text-white">
                        <p class="card-text text-orange">{{ trick.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <br>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('trick_new') }}" class="text-decoration-none">
            <button type="button" class="btn btn-outline-light bg-dark text-orange">Add a new trick !</button>
        </a>
    {% endif %}
    <br>
<div class="text-orange">
    {{ pagerfanta(pager) }}
</div>

{% endblock %}
