{% form_theme trickForm 'bootstrap_5_layout.html.twig' %}

{% macro printPictureRow(pictureForm) %}
    <div class="col-xs-4 js-picture-item">
        <a href="#" class="js-remove-picture pull-right text-orange">
            <span class="fa fa-close"></span>
        </a>
        {{ form_errors(pictureForm) }}
        <div class="col-sm-9">
            {{ form_row(pictureForm.file) }}
        </div>
        <div class="img-preview"></div>
    </div>
{% endmacro %}

{% macro printVideoRow(videoForm) %}
    <div class="col-xs-4 js-video-item">
        <a href="#" class="js-remove-video pull-right text-orange">
            <span class="fa fa-close"></span>
        </a>
        {{ form_errors(videoForm) }}
        <div class="col-sm-9">
            {{ form_row(videoForm.link) }}
        </div>
    </div>
{% endmacro %}

{% import _self as formMacros %}

<div class="row mb-2">
    <div class="login-form bg-dark text-orange mt-4 p-4">

        {{ form_start(trickForm, {'attr': {'class': 'row g-3', 'novalidate': 'novalidate'} }) }}
        <input type="hidden" name="token" value="{{ csrf_token('trick_edit') }}"/>
        <div class="col-12">
            {{ form_row(trickForm.title) }}
        </div>
        <div class="col-12">
            {{ form_row(trickForm.description) }}
        </div>
        <div class="col-12">
            {{ form_label(trickForm.categories) }}
            {% for category in trickForm.categories %}
            <div class="form-check">
            {{ form_widget(category, { 'attr': {'class' : 'form-check-input'}}) }}
                {{ form_label(category) }}
            </div>
            {% endfor %}
        </div>
        <div class="row js-picture-wrapper"
             data-prototype-picture="{{ formMacros.printPictureRow(trickForm.pictures.vars.prototype)|e }}"
             data-index-picture="{{ trickForm.pictures|length }}"
        >
            <a href="#" class="js-picture-add text-decoration-none text-orange">
                <span class="fa fa-plus-circle"></span>
                Add A Picture
            </a>
        </div>
        <div class="row js-video-wrapper"
             data-prototype-video="{{ formMacros.printVideoRow(trickForm.videos.vars.prototype)|e }}"
             data-index-video="{{ trickForm.videos|length }}"
        >
            <a href="#" class="js-video-add text-decoration-none text-orange">
                <span class="fa fa-plus-circle"></span>
                Add A Video
            </a>
        </div>
        <div class="col-12">
            <button type="submit"
                    class="text-orange btn btn-lg btn-outline-light float-end">{{ button_label|default('Save') }}</button>
        </div>
        {{ form_end(trickForm) }}
    </div>
</div>